<header class="header">
  <div class="header__bar">
    <h1>
      <%= link_to root_path do %>
        <span>転クエ掲示板</span>
      <% end%>
    </h1>
    <% if user_signed_in? %>
      <ul class="header__bar__user_nav">
        <li class="user_name">
          <span>ゲストユーザーさん</span>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to destroy_user_session_path, method: :delete  do %>
            <span> ログアウト</span>
          <% end %>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to new_post_path do %>
            <span>投稿する</span>
          <% end%>
        </li>
      </ul>
    <% else %>
      <ul class="header__bar__user_nav">
        <li class="header__bar__user_nav__btn">
          <%= link_to users_guest_sign_in_path, method: :post do %>
            <span>ゲストログイン</span>
          <% end%>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to new_user_session_path do %>
            <span>ログイン</span>
          <% end%>
        </li>
        <li class="header__bar__user_nav__btn">
          <%= link_to new_user_registration_path do %>
            <span>新規登録</span>
          <% end%>
        </li>
      </ul>
    <% end %>
  </div>
</header>